.editor-input {
    min-height: 150px;
    resize: none;
    cursor: text;
    border: 1px solid #ccc;
    padding: 10px;
    outline: none;
}

.editor-placeholder {
    color: #999;
    overflow: hidden;
    position: absolute;
    text-overflow: ellipsis;
    top: 10px;
    left: 10px;
    user-select: none;
    pointer-events: none;
}

.editor-container {
    position: relative;
    width: 90vh;
    margin: 20px;
}
